html, body {
	min-height : 100%;
  min-width : 100%;
}

body {
	background-image: url(../images/got-bground.png);
  background-size:100% 100%;
  background-repeat:no-repeat;
  overflow-x: hidden;
  font-family: 'MedievalSharp', cursive;
  color: #fff;
}

h2.page-header {
	margin-top: 10px;
	text-align: left;
	font-weight: bolder;
}

.well {
	margin-top: 1%;
	background: #4C4C4C;
}

.thumbnail {
	background: #999;
	font-size: 12px;
}

#hero, #defender {
	display: none;
}

#attack, #status, #replay, #next-round {
	display: none;
}

.thumbnail.hero {
	background: green;
}

.thumbnail.defender {
	background: red;
}

#hero-status {
	display: none;
}

#defender-status {
	display: none;
}

#game-title {
	background: #4C4C4C;
	color: #FFFFFF;
	margin-top: 0;
	padding: 20px 0px;
}

#sloth {
	display: none;
}