html, body {
	min-height : 100%;
  min-width : 100%;
}

body {
	background-image: url(../images/got-bground.png);
  background-size:100% 100%;
  background-repeat:no-repeat;
  overflow-x: hidden;
  font-family: 'MedievalSharp', cursive;
  color: #fff;
}

h1 {
	/*font-size: 48px;*/
}

progress {
	height: 4em;
}

h2.page-header {
	text-align: left;
	margin-top: 10px;
	/*font-size: 38px;*/
	font-weight: bolder;
}

.char {
	/*margin: 5px;*/
/*	height: 150px;
	width: 150px;*/
}

.thumbnail {
	background: #999;
	font-size: 12px;
}

.char img {
	height: 125px;
	width: 125px;
/*	border: 0;
	border: 20px solid #999;*/
}

.char-name {
	/*position: absolute;*/
	left: 38%;
	/*text-align: center;*/
	/*margin-bottom: 4px;*/
	font-weight: bold;
}

.char-status {
	/*position: absolute;*/
	/*text-align: center;*/
	margin-top: 4px;
	font-weight: bold;
}

.enemy {
	display: none;
}

.defender {
	display: none;
}

.hero .thumbnail {
	background: green;
}

.enemy .thumbnail {
	background: red;
}

.defender .thumbnail {
	background: purple;
}

#hero-status {
	display: none;
}

#defender-status {
	display: none;
}

#game-title {
	background: #4C4C4C;
	color: #FFFFFF;
	margin-top: 0;
	padding: 20px 0px;
}

#content {

}